{% extends "layout.html" %}
{% block content %}

    <h1>About page</h1> 
    <article class="media content-section">
        <h4>Pandemic Blog documents the pandemic through personal stories
            - big and small. It's an open source project meaning anyone
            can contribute their story by writing a blog, and anyone can use them.
            The platform is intended for journalists, artists, 
            researchers and creators of all types to then use 
            to make into any media or research solutions that they wish 
            to choose under the Creative Commons licence. It is an open 
            database of recordings forever growing and always accessible.
        </h4>
    </article>
   

{% endblock content %}
